@font-face {
	font-family: "Open Sans"; 
	src: local("Open Sans Bold"), 
	local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2") 
	format("woff2"); 
	font-style: normal; 
	font-weight: 700; 
	unicode-range: U+0-FF, 
	U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

#container {
	background: black;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
}
#main_button {
	color: yellow;
}
.menu_txt {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: white;
}
.menu_txt:hover{
  color: yellow;
  transition: 0.3s; 
}
/* Giving a background-color to the nav container. */
nav {
    background-color: black;
    position: relative;
    left: 30%;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    top: 0%;
    }

/* Positioning the navigation items inline */
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    background-color: black;
    }

/* Styling the links */
nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}
/* Background color change on Hover */
nav a:hover {
    background-color: #000000;
}
/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    transition: .3s; 

}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    visibility:visible;
    transition: 0.1s .3s

}
/* Fisrt Tier Dropdown */
nav ul ul li {
    min-width:170px;
    display:list-item;
    position: relative;
}
/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul {
    position: absolute;
    top:0;
    left:100%;
}
