
body {
	background-color: #5F9EAO;
}
@media screen and (max-width:550px)
{
	body
	{
		background-color: #3cb371;
		color: #ffa500;
		font-size: 15px;
	}
} 
.UpDown_1{
	animation: bottom_animation 6s infinity;
	-webkit-animation: bottom_animation 6s infinity;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.block_left{
	width: 25%;
	height: 80%;
	position: absolute; /* Абсолютное позиционирование */
    top: 20%; /* Положение от нижнего края */
    left: 0%; /* Положение от правого края */
	
	background-color: yellow;
}
.block_right{
	width: 25%;
	height: 80%;
	position: absolute; /* Абсолютное позиционирование */
    top: 20%; /* Положение от нижнего края */
    right: 0%; /* Положение от правого края */
	
	background-color: yellow;
}
.block_top{
	width: 50%;
	height: 80%;
	position: absolute; /* Абсолютное позиционирование */
    top: 20%; /* Положение от нижнего края */
    right: 25%; /* Положение от правого края */
	
	background-color: red;
}